.font-forbidden {
    font-family: "Tapestry";
    color: rgb(192, 12, 12); 
    text-shadow: 2px 2px 5px red;
}

@keyframes colors {
    0%   {color: rgb(187, 25, 25);text-shadow: 2px 2px 5px red}
    25%  {color: rgba(219, 8, 8, 0.801);text-shadow: 4px 4px 5px red}
    50%  {color: rgb(160, 30, 30);text-shadow: 5px 5px 5px red}
    100% {color: rgb(192, 12, 12);text-shadow: 2px 2px 5px red}
}

.color-animation:hover {
    animation-name: colors;
    animation-duration: 4s;
}